Flask==2.3.3
Werkzeug==2.3.8
Jinja2==3.1.6
MarkupSafe==2.1.5
itsdangerous==2.1.2
click==8.1.7
blinker==1.6.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
SQLAlchemy==2.0.44
python-dotenv==1.0.1
waitress==2.1.2
PyChromecast==12.1.4
protobuf==3.20.3
zeroconf==0.136.2
casttube==0.2.1

